<!DOCTYPE html>
<html>
<head>
    <title>Submit Your Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Submit Your Data</h1>
        <div class="form-container">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('submit') }}" method="post">
                <label for="model_name"><strong>Model Name:</strong></label>
                <input type="text" id="model_name" name="model_name" maxlength="50" required><br>

                <label for="temperature"><strong>Temperature:</strong></label>
                <input type="text" id="temperature" name="temperature" maxlength="5" required><br>

                <label for="rag_source_folder"><strong>Rag Source Folder:</strong></label>
                <input type="text" id="rag_source_folder" name="rag_source_folder" maxlength="50" required><br>

                <label for="greeting"><strong>Greeting:</strong></label>
                <textarea id="greeting" name="greeting" rows="5" cols="80" required></textarea><br>

                <label for="default_port"><strong>Default port:</strong></label>
                <input type="text" id="default_port" name="default_port" maxlength="5" required><br>

                <label for="default_user_id"><strong>Default User ID:</strong></label>
                <input type="text" id="default_user_id" name="default_user_id" maxlength="25" required><br>

                <label><strong>Show model information:</strong></label>
                <div class="radio-group">
                    <label for="show_model_information_true">
                        <input type="radio" id="show_model_information_true" name="show_model_information" value="true" required>
                        True
                    </label>
                    <!--<label for="show_model_information_true">True</label>-->
                    <label for="show_model_information_false">
                        <input type="radio" id="show_model_information_false" name="show_model_information" value="false">
                        False
                    </label>
                    <!--<label for="show_model_information_false">False</label>-->
                </div><br>

                <label><strong>Information log:</strong></label>
                <div class="radio-group">
                    <label for="information_log_true">
                        <input type="radio" id="information_log_true" name="information_log" value="true" required>
                        True
                    </label>
                    <label for="information_log_false">
                        <input type="radio" id="information_log_false" name="information_log" value="false">
                        False
                    </label>
                </div><br>

                <label><strong>Debug log:</strong></label>
                <div class="radio-group">
                    <label for="debug_log_true">
                        <input type="radio" id="debug_log_true" name="debug_log" value="true" required>
                        True
                    </label>
                    <label for="debug_log_false">
                        <input type="radio" id="debug_log_false" name="debug_log" value="false">
                        False
                    </label>
                </div><br>

                <label><strong>Show context:</strong></label>
                <div class="radio-group">
                    <label for="show_context_true">
                        <input type="radio" id="show_context_true" name="show_context" value="true" required>
                        True
                    </label>
                    <label for="show_context_false">
                        <input type="radio" id="show_context_false" name="show_context" value="false">
                        False
                    </label>
                </div><br>

                <label for="chunk_size"><strong>Chunk size:</strong></label>
                <input type="text" id="chunk_size" name="chunk_size" maxlength="10" required><br>

                <label for="chunk_overlap"><strong>Chunk overlap:</strong></label>
                <input type="text" id="chunk_overlap" name="chunk_overlap" maxlength="10" required><br>

                <label for="system_template"><strong>System template:</strong></label>
                <textarea id="system_template" name="system_template" rows="25" cols="80" required></textarea><br>

                <label for="top_k"><strong>Top K:</strong></label>
                <input type="text" id="top_k" name="top_k" maxlength="10" required><br>

                <label for="disclaimer"><strong>Disclaimer:</strong></label>
                <textarea id="disclaimer" name="disclaimer" rows="2" cols="80" required></textarea><br>

                <label for="user_prompt"><strong>User prompt:</strong></label>
                <textarea id="user_prompt" name="user_prompt" rows="5" cols="80" required></textarea><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>